@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
@font-face {
  font-family: 'Helvetica Neue "Medium"';
  src: url("../static/fonts/helveticaneue-medium-webfont.woff2") format("woff2"), url("../static/fonts/helveticaneue-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue "Light"';
  src: url("../static/fonts/helveticaneue-light-webfont.woff2") format("woff2"), url("../static/fonts/helveticaneue-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../static/fonts/helveticaneue-black-webfont.woff2") format("woff2"), url("../static/fonts/helveticaneue-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue "Thin"';
  src: url("../static/fonts/helveticaneue-thin-webfont.woff2") format("woff2"), url("../static/fonts/helveticaneue-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("images/Rectangle.png") lightgray 0 0px/105.733% 103.86% no-repeat;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 400;
}
body .w-2\.5 {
  width: 10px !important;
}
body .w-4 {
  width: 1rem !important;
}
body .w-6 {
  width: 1.5rem !important;
}
body .w-7 {
  width: 1.75rem !important;
}
body .w-9 {
  width: 2.25rem !important;
}
body .w-20 {
  width: 5rem !important; /* 80px */
}
body .w-44 {
  width: 11rem !important;
}
body .h-2\.5 {
  height: 10px !important;
}
body .w-7 {
  height: 1.75rem !important;
}
body .h-8 {
  height: 2rem !important;
}
body .h-9 {
  height: 2.25rem !important;
}
body .h-11 {
  height: 2.75rem !important;
}
body .h-20 {
  height: 5rem !important; /* 80px */
}
body .pl-6 {
  padding-left: 1.5rem;
}
body .py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
body .pr-2 {
  padding-right: 0.5rem;
}
body .text-lg {
  font-size: 1.125rem;
}
body .font-dm-sans {
  font-family: "DM Sans", sans-serif !important;
}
body .font-helvetica-neue {
  font-family: 'Helvetica Neue "Medium"' !important;
}
body .select-year {
  border-radius: 2.5rem;
  background: rgb(255, 255, 255);
  box-shadow: 10px 20px 40px 0 rgba(255, 255, 255, 0.1);
  padding: 0.5rem 0.75rem;
}

.svg {
  height: 1rem !important;
  width: 1rem !important;
}

.rounded-2xl {
  border-radius: 1.25rem !important;
}

.rounded-3xl,
.border-rounded-3xl {
  border-radius: 1.5rem !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.gap-4 {
  gap: 1rem !important;
}

.gap-x-8 {
  gap: 2rem !important;
}

.text-violet-50 {
  color: rgb(248, 238, 255) !important;
}

.text-violet-950 {
  color: rgb(42, 29, 113);
}

.text-slate-500 {
  color: rgb(101, 92, 139) !important;
}

.text-blue-500 {
  color: rgb(59, 130, 246) !important;
}

.text-blue-950 {
  color: rgb(27, 37, 89) !important;
}

.text-green-500 {
  color: rgb(34, 197, 94) !important;
}

.text-purple-700 {
  color: rgb(126, 34, 206);
}

.text-pink-600 {
  color: rgb(195, 20, 125) !important;
}

.text-teal-500 {
  color: rgb(20, 184, 166) !important;
}

.text-red-600 {
  color: rgb(220, 38, 38) !important;
}

.text-yellow-400 {
  color: rgb(250, 204, 21) !important;
}

.text-stone-300 {
  color: rgb(214, 211, 209) !important;
}

.bg-pink-600 {
  background: rgb(195, 20, 125) !important;
}

.bg-green-500 {
  background: rgb(34, 197, 94) !important;
}

.bg-blue-700 {
  background: rgb(29, 78, 216) !important;
}

.bg-yellow-500 {
  background: rgb(234, 179, 8) !important;
}

.bg-red-500 {
  background: rgb(239, 68, 68) !important;
}

.bg-purple-50 {
  background: rgb(234, 222, 251);
}

.bg-purple-700 {
  background: rgb(126, 34, 206);
}

.bg-violet-900 {
  background: rgb(76, 29, 149) !important;
}

.bg-emerald-400 {
  background: rgb(52, 211, 153);
}

.bg-rose-500 {
  background: rgb(244, 63, 94);
}

.bg-yellow-400 {
  background: rgb(250, 204, 21);
}

.bg-teal-100 {
  background: rgb(204, 251, 241) !important;
}

.bg-rose-100 {
  background: rgb(255, 228, 230) !important;
}

.bg-orange-100 {
  background: rgb(255, 237, 213) !important;
}

.rounded {
  border-radius: 50% !important;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

aside {
  height: 100%;
  border-radius: 2.5rem;
  border: 3px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 20px 40px 0 rgba(255, 255, 255, 0.05);
}
aside .header_bar {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 1rem;
}
aside .header_bar .avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
aside .header_bar .sidebar-hr {
  background: rgb(238, 225, 255);
  height: 2px;
  flex-shrink: 0;
  width: 100%;
}
aside .header_bar .name_bar {
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
aside .header_bar .account_bar {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
aside .recent-conversation {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
aside .conversion-block {
  border-radius: 40px;
  background: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
}
aside .conversion-block .conversion-item {
  color: rgb(127, 116, 173);
  padding: 1rem 0.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}
aside .conversion-block .conversion-item .icon {
  width: 1.75rem;
  height: 1.75rem;
}
aside .conversion-block .conversion-item .conversion-text {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
aside .start-chat {
  width: 100%;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 1rem;
  background: rgb(195, 20, 125);
  border-radius: 40px;
}
aside .start-chat .icon {
  height: 2rem;
  width: 2rem;
  color: rgb(255, 255, 255);
}
aside .start-chat .start-a-new-chat {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30.545px */
}
aside .settings {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
aside .settings .d-flex {
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
aside .settings .d-flex .icon, aside .settings .d-flex svg {
  width: 1.75rem;
  height: 1.75rem;
}
aside .settings .d-flex a {
  text-decoration: none;
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

main .app-version {
  border-radius: 2.5rem;
  padding: 1rem 1.75rem;
  border: 3px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 20px 40px 0 rgba(112, 144, 176, 0.08);
}
main .app-version a {
  color: rgb(127, 116, 173);
  text-decoration: none;
}
main .app-version .version {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.625rem */
}
main .breadcrumb .breadcrumb-item {
  color: rgb(127, 116, 173);
  font-size: 18px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
main .breadcrumb .breadcrumb-item:active, main .breadcrumb .breadcrumb-item.active {
  color: rgb(42, 29, 113);
  font-size: 34px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 700;
  line-height: 42px;
  word-wrap: break-word;
}
main .report-settings {
  background: rgb(195, 20, 125);
  border-radius: 40px;
}
main .report-settings a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
main .report-settings .form-select {
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 111.111% */
  letter-spacing: -0.0225rem;
  color: rgb(195, 20, 125);
  box-shadow: 10px 20px 40px rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
main .search-bar {
  position: relative;
  display: inline-block;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.08);
  color: rgb(127, 116, 173);
  font-size: 18px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
main .search-bar .form-control {
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to left, transparent 3rem, rgb(255, 255, 255));
  background: -moz-linear-gradient(to left, transparent 3rem, rgb(255, 255, 255));
  background: -ms-linear-gradient(to left, transparent 3rem, rgb(255, 255, 255));
  background: -o-linear-gradient(to left, transparent 3rem, rgb(255, 255, 255));
  background: -webkit-linear-gradient(to left, transparent 3rem, rgb(255, 255, 255));
  box-shadow: none;
  border-left: transparent;
  padding-left: 1.85rem;
  border-radius: 40px;
  z-index: 0;
}
main .search-bar .form-control:focus {
  box-shadow: none;
  border-color: rgb(195, 20, 125);
}
main .search-bar .input-group-text {
  content: "search";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.375rem 0.75rem;
  background: transparent;
  border-color: rgb(195, 20, 125);
  color: rgb(127, 116, 173);
  width: 1rem;
  height: 100%;
  z-index: 1040;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
main .search-bar .input-group-text:hover {
  color: rgb(195, 20, 125);
}

.search-group {
  display: flex;
  position: relative;
  width: 100%;
}
.search-group .search-input {
  width: 100%;
  height: 2.35rem;
  padding-left: 2.25rem;
  top: 0;
  left: 2.265rem;
  color: rgb(100, 116, 139);
  background: rgb(255, 255, 255);
  border-radius: 40px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 400;
}
.search-group .search-input:focus, .search-group .search-input:active {
  border-color: rgb(195, 20, 125);
  box-shadow: none;
}
.search-group .search-btn {
  position: absolute;
  display: inline-block;
  background: transparent;
  top: 0;
  left: 0.5rem;
  bottom: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-color: transparent;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

.chat-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 30px;
  background-image: url("static/images/manav-kumar-sinha.png"), lightgray 50%/cover no-repeat;
}

.question {
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(195, 20, 125);
  color: rgb(255, 255, 255);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
}

.card .card-body {
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  line-height: 24px; /* 133.333% */
}
.card .quick_links {
  color: rgb(127, 116, 173);
  background: rgb(238, 225, 255);
  padding: 1rem 1.5rem;
  align-items: center;
}
.card .quick_links:hover, .card .quick_links:active {
  border-radius: 40px;
  background: rgb(195, 20, 125);
  color: rgb(255, 255, 255);
}

.regenerate-response {
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 0.875rem;
  font-style: normal;
  padding: 1rem 1.5rem;
  font-weight: 700;
  line-height: 1rem; /* 114.286% */
  border-radius: 2.5rem;
  border: 1px solid rgb(234, 222, 251);
}
.regenerate-response a {
  text-decoration: none;
  color: rgb(42, 29, 113);
}

.chat-input-message {
  border-radius: 2.5rem;
  border: 1.179px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  backdrop-filter: blur(18.8571434021px);
  padding: 1rem 16.96206rem 1rem 2.3125rem;
  align-items: center;
  color: rgba(101, 92, 139, 0.4);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.17856rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.76788rem */
  box-shadow: transparent;
}
.chat-input-message:focus {
  box-shadow: none;
}

#question-input .input-group-text {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(118deg, rgb(42, 29, 113) 12.13%, rgb(195, 20, 125) 92.39%);
  filter: drop-shadow(0px 4.7142858505px 4.7142858505px rgba(255, 255, 255, 0.05));
  color: rgb(255, 255, 255);
  border-radius: 2.5rem;
}

#rightSidebar .header {
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.25rem */
}
#rightSidebar .accordion-item {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.125rem */
}
#rightSidebar .accordion-item .accordion-button {
  color: rgb(127, 116, 173);
  text-decoration: none;
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.125rem */
}
#rightSidebar .accordion-body {
  font-family: 'Helvetica Neue "Light"';
  color: rgb(127, 116, 173);
  font-size: 0.875rem;
  padding: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 0.875rem */
}

.medium-user {
  padding: 1.75rem 1rem;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  overflow: hidden;
  justify-items: center;
}
.medium-user .image-holder {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: calc(50% - 82px);
  width: 164px;
  height: 164px;
  background: rgb(234, 222, 251);
  border-radius: 9999px;
}
.medium-user .total-sales-item {
  color: rgb(27, 37, 89);
  font-size: 18px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.medium-user .total-sales-title {
  color: rgb(127, 116, 173);
  font-size: 18px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.medium-user .total-sales {
  color: rgb(42, 29, 113);
  font-size: 28px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
}
.medium-user .sales-table-heading {
  text-align: center;
  color: rgb(127, 116, 173);
  font-size: 14px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}
.medium-user .sales-table-data {
  text-align: center;
  color: rgb(42, 29, 113);
  font-size: 24px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
}

.report-block {
  padding: 0.5rem 1.25rem;
  background: rgb(255, 255, 255);
  border-radius: 1.5rem;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  display: inline-flex;
}
.report-block:hover, .report-block:focus, .report-block.active {
  background: linear-gradient(135deg, rgba(234, 74, 170, 0.96) 0%, rgb(110, 23, 180) 100%);
}
.report-block:hover .title, .report-block:hover .text, .report-block:focus .title, .report-block:focus .text, .report-block.active .title, .report-block.active .text {
  color: rgb(238, 225, 255);
}
.report-block .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F9F1FF;
  color: rgb(110, 23, 180);
  border-radius: 50%;
  padding: 0.25rem;
  width: 4.5rem;
  height: 4.5rem;
}
.report-block .title {
  color: rgb(127, 116, 173);
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.report-block .text {
  color: rgb(42, 29, 113);
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
}

.chart-card {
  background: rgb(255, 255, 255);
  padding: 1.25rem 1.75rem;
  border-radius: 1.25rem;
}
.chart-card .chart-header {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}
.chart-card .chart-header .chart-title {
  color: rgb(42, 29, 113);
  font-size: 34px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 42px;
  word-wrap: break-word;
}
.chart-card .chart-header .chart-single-title {
  color: rgb(42, 29, 113);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: -0.0225rem;
}
.chart-card .chart-header .chart-sub-title {
  color: rgb(127, 116, 173);
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.chart-card .chart-header .percentage-effect {
  display: flex;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #05CD99;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
}
.chart-card .select-year {
  background: rgb(238, 225, 255);
  padding: 0.5rem 0.75rem;
  border-radius: 7px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: rgb(195, 20, 125);
  font-size: 14px;
  font-family: 'Helvetica Neue "Medium"';
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
}
.chart-card .stock-status {
  display: flex;
  width: 3.5rem;
  padding: 0.4375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.4375rem;
}
.chart-card .stock-status.success {
  background: rgba(34, 197, 94, 0.1);
}
.chart-card .stock-status.danger {
  background: rgb(252, 232, 232);
}

.table-theme {
  background: rgb(195, 20, 125) !important;
  color: rgb(81, 67, 136) !important;
}

.intent-panel {
  background: rgb(255, 255, 255);
  padding: 1rem;
  max-height: 6rem;
  border-radius: 1rem;
  justify-content: flex-start;
  display: inline-flex;
  color: rgb(238, 225, 255);
}
.intent-panel.active, .intent-panel:hover, .intent-panel:focus {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right bottom, rgb(236, 72, 153), rgb(127, 116, 173));
  background: -moz-linear-gradient(to right bottom, rgb(236, 72, 153), rgb(127, 116, 173));
  background: -ms-linear-gradient(to right bottom, rgb(236, 72, 153), rgb(127, 116, 173));
  background: -o-linear-gradient(to right bottom, rgb(236, 72, 153), rgb(127, 116, 173));
  background: -webkit-linear-gradient(to right bottom, rgb(236, 72, 153), rgb(127, 116, 173));
}
.intent-panel .panel-content {
  color: rgb(100, 116, 139);
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.intent-panel .panel-icon {
  background: rgb(248, 238, 255);
  padding: 0.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

.overall-sentiment-card {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 1.5rem 1.4rem 1.3rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
  border-radius: 1.25rem;
  background: var(--secondary-primary-white, rgb(255, 255, 255));
}
.overall-sentiment-card .title {
  color: rgb(27, 37, 89);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
  letter-spacing: -0.03rem;
}
.overall-sentiment-card .total-sentiment {
  color: rgb(127, 116, 173);
  font-family: 'Helvetica Neue "Medium"';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.chart-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  font-family: 'Helvetica Neue "Medium"';
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: rgb(234, 222, 251);
  border: none;
  border-radius: 1.25rem;
  color: rgb(195, 20, 125);
  cursor: pointer;
}
.chart-select:before, .chart-select:after {
  --size: 0.3rem;
  content: "^";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}
.chart-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgb(255, 255, 255);
  top: 55%;
}

.form-select-theme {
  --bs-form-select-bg-img: url("images/chevron-down.png");
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(195, 20, 125);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(234, 222, 251);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-color: transparent !important;
}

.table-head-theme {
  --bs-table-color: $whiteColor;
  --bs-table-bg: $purple-50!important;
  --bs-table-border-color: $purple-50!important;
  color: rgb(27, 37, 89);
  border-color: rgb(237, 233, 254);
}

/*# sourceMappingURL=stylesheet.css.map */
